<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.bigbang.io/bigbangconfig">
	<environment name="Cloud.ERP.AccountingDev" />
	<!--<serviceBus name="srv.bigbang.dotin.ir" port="9092" type="Kafka" />-->
	<!--<serviceBus name="localhost" port="61616" type="ActiveMQ" />-->
	<!--<logging local="true" name="srv.bigbang.dotin.ir" port="5000" />-->
	<logging local="true" />
	<serverInfo>
		<defaultUser username="SuperAdmin" password="HackMe!" />
		<session durationInHour="13" secretKey="9865F053-DB48-48C8-AC79-6168E3E95A5B"/>
	</serverInfo>
	<applicationCatalog safeMode="false">
		<database dataSource="." encrypt="false" connectTimeout="60" commandTimeout="30" integratedSecurity="true" persistSecurityInfo="true" maxPoolSize="100" />
		<applications>
			<application name="BigBang" assemblyName="BigBang.App">
				<initialCatalog value="BigBang_Cloud.ERP.Accounting_Core" databaseVersionType="Development" />
			</application>
			<application name="Cloud_ERP_Accounting" assemblyName="BigBang.App.Cloud.ERP.Accounting">
				<initialCatalog value="BigBang_Cloud.ERP.Accounting" databaseVersionType="Development" />
			</application>
		</applications>
	</applicationCatalog>
	<userRegistration isActive="true" />
</configuration>