<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.bigbang.io/applicationconfig">
  <application name="Cloud_ERP_Accounting" displayName="Cloud.ERP.Accounting">
    <migrationConfig assembly="BigBang.App.Cloud.ERP.Accounting.Migrations.dll" />
    <generatorConfig generationSource="DML"
                     defaultModuleName="DefaultModule"
                     assembly="BigBang.App.Cloud.ERP.Accounting.Domain"
                     namespace="BigBang.App.Cloud.ERP.Accounting.Domain"
                     applicationPrefix="ACC_">
      <DML name="BigBang.App.Cloud.ERP.Accounting.DML" />
      <commandFilters>
        <regexFilter pattern="^(.*)$" filterType="Accept" />
      </commandFilters>
      <tableNameRefactors>
        <pluralRefactor />
      </tableNameRefactors>
    </generatorConfig>
  </application>
</configuration>