<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="$temp/logs/nlog-internal.log">

	<targets>
		<default-wrapper xsi:type="AsyncWrapper" overflowAction="Block" />
		<target  xsi:type="File" name="logfile"  maxArchiveFiles="30"   fileName="$temp/logs/${date:format=yyyy-MM-dd}.txt">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level}" />
				<attribute name="message" layout="${message}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="thread" layout="${threadid}" />
				<attribute name="machine" layout="${machinename}" />
				<attribute name="exception" layout="${exception:format=ToString}" />
				<attribute name="scopes" encode="false" layout="${scopejson}" />
			</layout>
		</target>
		<target xsi:type="ColoredConsole" name="console" enableAnsiOutput="false" encoding="utf-8"   detectConsoleAvailable="true" detectOutputRedirected="true" stdErr="false" >
			<layout xsi:type="SimpleLayout" >
				<text>[${longdate}] [${level}] ${logger} ${message} ${exception:format=ToString}</text>
			</layout>	
			<highlight-row condition="starts-with(logger,'BigBang')" foregroundColor="DarkCyan"/>
			<highlight-row foregroundColor="White"></highlight-row>	
			<highlight-word regex="^\[[^\]]*\]" compileRegex="true" foregroundColor="Cyan"/>
			<highlight-word text="[Info]"   foregroundColor="Blue"/>
			<highlight-word text="[Warn]" foregroundColor="Yellow"/>
			<highlight-word text="[Error]" foregroundColor="Red"/>
			<highlight-word text="[Fatal]" foregroundColor="Magenta"/>
			<highlight-word text="[Debug]" foregroundColor="Green"/>
			<highlight-word text="[Trace]" foregroundColor="Cyan"/>
		</target>
	</targets>

	<rules>
		<logger name="BigBang*" minlevel="Info" writeTo="logfile,console" />
	</rules>
</nlog>
