<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
   <add key="Dotin-v2" value="https://nexus3.dotin.ir/repository/nuget.org-proxy/" />
   <add key="Nexus" value="https://nexus3.dotin.ir/repository/ERP-NuGet/" />
 </packageSources>
 <packageSourceCredentials>
   <Nexus>
     <add key="Username" value="erp" />
     <add key="ClearTextPassword" value="erp123456" />
   </Nexus> 
   <Dotin-v2>
     <add key="Username" value="erp" />
     <add key="ClearTextPassword" value="erp123456" />
   </Dotin-v2>    
 </packageSourceCredentials>
</configuration>